@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

:root {
  --navbar-height: 72px;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #02040a;
}